/* page one styling*/
main div#p1{
	Color: white;
	margin-bottom: -200px;
	background-image: url(/Images/goldbackground.JPG);

}

main div#p1 div#Title-Container{
	position: fixed;
	top: 180px;
	width: 100%;
	text-align: left;
	font-family: Azonix;
}

main div#p1 div#Title-Container h1{
	position: relative;
	font-size: 71px;
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
	
}

main div#p1 div#Title-Container h2{
	position: relative;
	font-size: 62px;
	left: 40px;
	text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

main div#p1 idiv#arrow-down{
position: fixed;
bottom: 100;
left:-400px;
font-size: 100px;
height: 120px;
width: 120px;
}


/*page 2*/

main div#p2{
	display: flex;
	flex: row;
}

	main div#p2 div#left{
		margin-top: 90px;
		width:100%;
		height: 600px;
	}
		main div#p2 div#left div#avatar-container{
			position: relative;
			width: 200px;
			height: 200px;
			left: 200px;
		}
			main div#p2 div#left div#avatar-container img{
				position: absolute;
				width: 200px;
				height: 200px;
				border-radius: 50%;
				/*TODO: change border to gold*/
				border: 4px solid black;
				z-index: 9;
			}
				main div#p2 div#left div#about-me-text-container{
					position:relative;
					left: 210px;
					margin-top: -24px;
					color: white;
				}

					main div#p2 div#left div#about-me-text-container h4#about-me{
						position: relative;
						font-size: 25px;
						letter-spacing: 10px;
						margin-bottom: -45px;
						letter-spacing: -2px;
						left: 40px;
					}

					main div#p2 div#left div#about-me-text-container p#about-me-paragraph{
						background-color: rgba(41, 39, 39, 0.685);
						border: 1px solid white;
						height: 280px;
						width: 1200px;
						margin-top:-40px;
						font-size: 18px;
						padding: 10px;
					}

					main div#p2 div#left div#about-me-text-container h2#about-me-name{
						position: relative;
						font-size: 50px;
					}

					main div#p2 div#left div#animated_skills{
						position: relative;
						width: 910px;
						left: 500px;
						height: 200px;
						margin-bottom: -230px;
					}

					/* animated cards*/
main div#p2 div.Languages-container {
	position: absolute;
	height: 200px;
	width: 700px;
	top: 0px;
	left: calc(50% - 460px);
	display: flex;

  }
  
  main div#p2 div.Languages-container .card {
	display: flex;
	height: 240px;
	width: 200px;
	background-color: #17141d;
	border-radius: 10px;
	box-shadow: -1rem 0 3rem #000;
	transition: 0.4s ease-out;
	position: relative;
	left: 0px;
	overflow: hidden;
	z-index: 1;
	border: 1px solid white
  }
  
  main div#p2 div.Languages-container .card:not(:first-child) {
	  margin-left: -50px;
  }
  
  main div#p2 div.Languages-container .card:hover {
	transform: translateY(-20px);
	transition: 0.4s ease-out;
  }
  
  main div#p2 div.Languages-container  .card:hover ~ .card {
	position: relative;
	transform: translateX(50px);
	transition: 0.4s ease-out;
  }
  
  main div#p2 div.Languages-container .title {
	color: white;
	font-weight: 500;
	position: absolute;
	left: 20px;
	top: 15px;
	font-family: Azonix;
	z-index: 2;
  }
  
  main div#p2 div.Languages-container .bar {
	position: absolute;
	top: 80px;
	left: 15px;
	height: 10px;
	width: 150px;
	z-index: 2;
	border: 1px solid white;
  }
  
  main div#p2 div.Languages-container .emptybar {
	background-color: #474b52;
	width: 100%;
	height: 100%;
  }
  
  main div#p2 div.Languages-container .filledbar {
	position: absolute;
	top: 0px;
	z-index: 3;
	width: 0px;
	height: 100%;
	background: rgb(0,154,217);
	background: linear-gradient(90deg, #AA771C 0%, #BF953F 65%, #FCF6BA 100%);
	transition: 0.6s ease-out;
  }
  
  main div#p2 div.Languages-container .card:hover .filledbar {
	width: 120px;
	transition: 0.4s ease-out;
  }
  
  main div#p2 div.Languages-container .logo {
	position: absolute;
	top: -5px;
	left: calc(50% - 125px);
	color: #bf943f46;
	font-size: 250px;
	z-index:1;
  }

  main div#p2 div.Languages-container #java-logo {
	position: absolute;
	top: -5px;
	font-size: 200px;
	left: calc(50% - 105px);
  }

  main div#p2 div.Languages-container #js-logo {
	position: absolute;
	top: -10px;
	left: calc(50% - 125px);
  }

  main div#p2 div.Languages-container #C-logo {
	position: absolute;
	top: -100px;
	font-size: 250px;
	font-weight: bold;
	left: calc(50% - 125px);
  }

  main div#p2 div.Languages-container #python-logo {
	position: absolute;
	font-size: 230px;
	top: -80px;
	left: calc(50% - 115px);
  }

  main div#p2 div.Languages-container #ruby-logo {
	position: absolute;
	top: -80px;
	left: calc(50% - 120px);
  }



main div#p3{
	display: flex;
	flex: row;
	background-image: url(/Images/workstation.jpg);
}
main div#p3 div#Education, main div#p3 div#Experience{
position: relative;
height: 550px;
width: 400px;
background: rgba(255, 255, 255, 0.295);
border-radius: 10px;
box-shadow: -1rem 0 3rem #000;
border: 1px solid rgba(255, 255, 255, 0.212);
color: white;

}

main div#p3 h2{
	font-size: 40px;
	margin: 0;
}


main div#p3 div#Education{
	margin-right: 50px;
	left: 300px;
	top: 100px;
}
	main div#p3 div#Education h2{
		position:relative;
		top: -40px;
		text-align: center;
		Font-size: 70px;
		font-weight: bold;
	}
		main div#p3 div#Education div#general-education h3{
			padding-left: 20px;
			padding-right: 20px;
			font-size: 15px;
		}



main div#p3 div#Experience{
position: relative;
left: 300px;
top: 160px;
}




  
